/* app css stylesheet */
@import "theme";

.app-label {
  float: inherit;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}
.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.table-label {
  font-size: 16px;
  font-weight: bold;
}

.row.highscores {
  margin-top: 25px;
}

.loading-bar {
  margin-top: -20px;
  .progress-bar,
  .progress {
    height: 6px;
  }
}

.game-intro {
  font-size: 16px;

  .info-text {
    font-size: 13px;
  }
  .countdown {
    margin-top: 30px;
    font-weight: bold;
  }
}
.game {
  .current-word {
    font-size: 50px;
    font-family: courier;
  }
  .statusbar {
    padding-top: 10px;
    text-align: left;
    font-size: 16px;
    .word-score {
      min-width: 100px;
    }
  }
}
