@import "theme";
@import "animations";
@import "game";
@import "welcome";

.app-label {
  float: inherit;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}
.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.loading-bar {
  margin-top: -20px;

  .progress-bar,
  .progress {
    height: 6px;
  }
}
