<div class="container">
  <div class="row game-intro" ng-if="ctrl.gameState === ctrl.GAME_STATES.NOT_STARTED">
    <div class="col-xs-12 col-md-6 col-center-block text-center">
      <h1 class="text-primary">
        Welcome, {{::ctrl.session.username}}!
      </h1>
      <div class="text-muted info-text">
        Try to guess as many words in 40 seconds as you can!
      </div>
      <div class="countdown">
        The game starts in {{ctrl.count}}s!
      </div>
    </div>
  </div>
  <div class="row game" ng-if="ctrl.gameState === ctrl.GAME_STATES.IN_PROGRESS">
    <div class="col-xs-12 col-md-6 col-center-block text-center">
      <div class="current-word well">
        <div animate-on="word-change" class="word" animation="bounceInDown">{{ctrl.word}}</div>
      </div>
      <div class="user-input" animate-on="word-correct" animation="pulse">
        <input type="text" class="form-control" request-focus="true" ng-model="ctrl.guess" placeholder="Correct word">
      </div>
      <div class="statusbar">
        <div class="pull-left">
          <div>Time left: <strong>{{ctrl.count}}s</strong></div>
          <div>Total score: <strong>{{ctrl.session.score}}</strong></div>
        </div>
        <div class="pull-right">
          <div class="word-score">
            <div class="incorrect" animate-on="word-incorrect" animation="zoomOut">-1</div>
            <uib-progressbar class="progress-striped active" max="ctrl.wordMaxScore" value="ctrl.wordScore">{{ctrl.wordScore}} / {{ctrl.wordMaxScore}}</uib-progressbar>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row game-over" ng-if="ctrl.gameState === ctrl.GAME_STATES.FINISHED">
    <div class="col-xs-12 col-md-6 col-center-block text-center">
      <h1 class="text-primary">
        Game over!
      </h1>
      <div>
        You scored <strong>{{ctrl.lastStats.score}}</strong> and managed to unmangle <strong>{{ctrl.lastStats.words}}</strong> words!
      </div>
      <div class="controls">
        <button class="btn btn-primary" ng-click="ctrl.resetGame(true)">Try again</button>
        <button class="btn btn-default" ui-sref="welcome">See highscores</button>
      </div>
    </div>
  </div>
</div>
